// --- 색상값을 변수로 지정 --- //
/*
 - $변수명 : 값;
    $로 시작하는것은 변수가 된다. - css에 적용하는 ㄱ밧을 변수화 할 수 있다.
    값의 형식은 css에서 기술하는 형태와 동일. (문자열, 숫자 구분 없음)
*/

$red: #f00;
$green: #0f0;
$blue: #00f;
$orange: #f60;
$yellow: #ff0;
$pink: #f0f;
