@charset "utf-8";

/* 전체 공통 내용 */
* {
  font-family: "나눔고딕", "맑은고딕체", "굴림체", "Helvetica";
}

a {
  color: #222;
  text-decoration: none;
}

hr {
  display: none;
}

/* 하단 공통 footer */
#footer {
  width: 318px;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

/* 하단 공통 footer > 카피라이트 */
#footer address {
  width: auto;
  height: 59px;
  background: url(../img/bottom_bg.png) center center no-repeat;
  text-indent: -1000000px;
}

/* 하단 공통 footer > 센터소개 버튼 */
#footer span {
  position: absolute;
  left: 12px;
  top: 20px;
}

/* 하단 공통 footer > SNS 버튼 */
#footer li {
  display: inline;
  padding: 0 3px;
}