@charset "utf-8";

/* 전체 공통 내용 */
* {
  font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";
}

a {
  color: #222;
  text-decoration: none;
}

hr {
  display: none;
}

/* 상단 bar */
#header {
  background: url(../img/bg_header.gif) repeat-x;
  height: 49px;
  border-bottom: 1px solid #000;
}

/* 상단 bar > 로고 */
#header h1 {
  width: 71px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 13px;
}

/* 상단 bar > Home 버튼 */
#header span {
  display: block;
  width: 48px;
  height: 26px;
  position: absolute;
  right: 10px;
  top: 12px;
}

/* 하단 */
#footer {
  width: auto;
  text-align: center;
}

/* 하단 > 버튼셋 */
#footer ul {
  margin: 5px auto;
}

/* 하단 > 버튼셋 > 개별항목 */
#footer ul li {
  display: inline;
  padding: 0 2px;
}

/* 하단 > 카피라이트 */
#footer address {
  width: auto;
  height: 35px;
  background: #ccc;
  font-size: .8em;
  line-height: 35px;
  color: #666;
}